.about-page-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  margin: 0 auto;
  padding: 1rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

  #diff{
    color: #1ed760;
  }
  #link{
    color: #1ed760;
    text-decoration: none;
  }
  h1 {
    font-size: 4rem;

    &::after {
      content: "";
      display: block;
      margin: 0.5rem 0;
      width: 5rem;
      padding-top: 8px;
      border-bottom: 4px solid #1ed760;
      opacity: 0.6;
    }
  }
  h2 {
    font-size: 2rem;
    margin: 0.5rem;

    &::after {
      content: "";
      display: block;
      margin: 0.5rem 0;
      width: 5rem;
      padding-top: 8px;
      border-bottom: 4px solid #1ed760;
      opacity: 0.6;
    }
  }

  li {
    margin: 1rem 0;
    font-size: 1.2rem;
    display: block;
    
    &::before {
      content: "•";
      color: #1ed760;
      font-weight: bold;
      display: inline-block;
      width: 1em;
      margin-left: -1em;
    }
  }

  p{
    font-size: 1.2rem;
  }
}
