.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  padding: 0.6rem;
  border-radius: 4px;
  background-color: #fff;
  border: 1.5px solid #fff;
  transition: all 0.3s ease-in-out;
  letter-spacing: 1px;
  text-decoration: none;
  margin: 0.5rem 0;
  font-weight: 600;
  color: #0f0f0f;
  text-transform: uppercase;
}

.btn:hover {
  background-color: #0f0f0f;
  color: #fff;
}
