.image-upload-card-container {
  width: 40%;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  border-radius: 0.5rem;
  border: 2px #fff solid;

  .image-input {
    margin: 1rem 0;
    h2 {
      font-size: 2.5rem;
    }
    p{
      font-size: 0.7rem;
      opacity: 0.8;
      margin: 0.5rem 0 0 0;
      font-style: italic;
    }

    .webcam-container{
        width: 100%;
        border: 0.5px solid #fff;
        border-radius:  1rem;
        
        #webcam-camera{
            border-radius: 1rem;
            width: 100%;
            height: 100%;
        }

        #captured-image{
          border-radius:  1rem;
          width: 100%;
          height: auto;
        }
    }
  }
  .display-face{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;    
    margin: 1rem 0;
    
    p{
      font-size: 0.7rem;
      opacity: 0.8;
      margin: 0.5rem 0 0 0;
      font-style: italic;
    }
  }
  .loading{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;   
  }
  .buttons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
  }
  #pred{
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
  }
}

@media screen and (max-width: 600px){
  .image-upload-card-container {
    width: 100%;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    border: 3px #fff solid;
    border-radius: 0;

    .image-input {
      margin: 1rem 0;
      h2 {
        font-size: 2.5rem;
      }
      p{
        font-size: 0.7rem;
        opacity: 0.8;
        margin: 0.5rem 0 0 0;
        font-style: italic;
      }
  
      .webcam-container{
          width: 100%;
          height: 100%;
          border-radius: 0;
          border: 0.5px solid #0f0f0f;
          overflow: hidden;
          
          video{
            width: 100%;
            height: 100%;
          }
          #webcam-camera{
              border-radius: 0rem;
          }
  
          #captured-image{
            border-radius:  0rem;
            width: 100%;
          }
      }
    }
  
    .buttons{
      display: flex;
      justify-content: space-around ;
      align-items: center;
      flex-direction: row;
    }
    #pred{
      font-size: 1rem;
      font-weight: bold;
      color: #fff;
    }
  }
}