* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  background-color: #0f0f0f;
  color: #fff;
}
.App {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  height: auto;
}
