.home-page-container{
    min-height: calc(100vh - 7vh - 2.2rem);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;

    .home-content-container{
        width: 50%;
        min-height: calc(100vh - 19vh - 2.2rem);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}